img {
    width: 703px;
    /* 设置图片宽度为 200 像素 */
    height: auto;
    /* 设置图片高度自动调整以保持纵横比 */
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 600px;
    max-width: 800px;
    /* 設置父元素的寬度 */
    aspect-ratio: 1/1;
    /* 設置父元素的寬高比為1:1，即正方形 */
    /* background-color: lightblue; */
    /* border: 2px solid blue; */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
}

.center-2 {
    position: absolute;
    top: 130px;
    left: 196px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outlined-text {
    display: inline-block;
    padding: 5px 10px;
    /* 可选：添加一些内边距来使文字与边框之间有一些空间 */
    background-color: #4c9aac;
    /* 设置背景颜色 */
    border-radius: 40px;
    /* font-weight: bold; */
    color: white;
}